#game-container {
  background: green;
  position: relative;
  margin: 1em;
  /* margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  width: 32em;
  height: 32em;
  display: flex;
  flex-wrap: wrap-reverse;
}

.letter-tile {
  width: 3em;
  height: 3em;
  margin: 0.5em;
  background: white;
  text-align: center;
  line-height: 2.5em;
}

#form-div {
  position: relative;
  margin: 1em;
}

#word-input-field {
  width: 32em;
}
