#game-clock-div, #game-score-div, #word-submit-confirm {
 display: block;
 margin: 1em;
}

#play-button {
  position: relative;
  margin-left: 1em;
  width: 52em;
  height: 100%;
  align-self: center;
}

#game-container {
  background: lightblue;
  margin: 1em;
  width: 52em;
  height: 32em;
  display: flex;
  flex-wrap: wrap-reverse;
  /* clear: left; */
}

.letter-tile {
  width: 4em;
  height: 4em;
  margin: 0.5em;
  background: white;
  text-align: center;
  font-size: 1em;
  line-height: 4em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5em;
}

.highlited {
  width: 3em;
  height: 3em;
  margin: 0.5em;
  background: yellow;
  text-align: center;
  line-height: 3em;
  font-weight: bold;
  border-radius: 5em;
}

#word-input-field {
  position: relative;
  margin: 1em;
  width: 52em;
}

#left-container {
  float: left;
  width: 54em;
}

#right-container {
  float: left;
  margin-left: 1em;
  margin-top: 7em;
}

#login-field {
  width: 25em;
}
