#game-score-div {
  width: 7em;
  display: block;
  margin-top: 1em;
}

#game-clock-div {
  width: 7em;
  display: block;
  margin-left: 2.4em;
  margin-top: 1em;
}

#word-submit-confirm {
  display: block;
  margin-top: 1em;
}

#play-button {
  position: relative;
  margin-left: 3em;
  width: 52em;
  height: 100%;
  align-self: center;
}

#game-container {
  background: #eaeaea;
  margin: 1em 1em 1em 3em;
  width: 52em;
  height: 32em;
  display: flex;
  flex-wrap: wrap-reverse;
}

.letter-tile {
  width: 2em;
  height: 2em;
  margin: 0.25em;
  background: darkblue;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 5em;
}

.highlited {
  width: 3em;
  height: 3em;
  margin: 0.5em;
  background: yellow;
  text-align: center;
  line-height: 3em;
  font-weight: bold;
  border-radius: 5em;
}

#word-input-field {
  position: relative;
  margin: 1em 1em 1em 3em;
  width: 52em;
}

#left-container {
  float: left;
  width: 54em;
}

#right-container {
  float: left;
  margin-left: 5em;
  margin-top: 7em;
}
