.game-title {
  font-size: 1.5em;
}

#game-score-div {
  width: 9em;
  display: block;
  margin-top: 1em;
  padding-right: -1.5em;
  background: #dcf2f0;
}

#game-clock-div {
  width: 9em;
  display: block;
  margin-left: 2.4em;
  margin-top: 1em;
  background: #dcf2f0;
}

#word-submit-confirm {
  display: block;
  margin-top: 1em;
}

#play-button {
  position: relative;
  margin-left: 3em;
  width: 52em;
  height: 100%;
  align-self: center;
}

#game-container {
  background: #f9f9f9;
  margin: 1em 1em 1em 3em;
  width: 52em;
  height: 32em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 5em;
  max-width: 52em;
}

.letter-tile {
  width: 2em;
  height: 2em;
  margin: 0.25em;
  background: #bf0741;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: .5em;
}

.highlited {
  width: 2em;
  height: 2em;
  margin: 0.25em;
  background: #07bfb6;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: .5em;
  transform: rotate(45deg);

}

#word-input-field {
  position: relative;
  margin: 1em 1em 1em 3em;
  width: 52em;
}

#left-container {
  float: left;
  width: 54em;
}

#right-container {
  max-width: 22em;
  float: left;
  margin-left: 4em;
  margin-top: 6.5em;
}

.valid-word {
  font-size: 4em;
  color: #07bfb6;
}

.invalid-word {
  font-size: 5em;
  color: #bf0741;
}

.game-over {
  font-size: 4em;
  color: #bf0741;
}

#game-bomb-div {
  float: right;
  margin-top: 4em;
}

/* Place the navbar at the bottom of the page, and make it stick */
#footer {
  background-color: teal;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 10px;
}
